body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url('back.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .container {
    text-align: center;
    color: #fff;
    padding: 20px;
  }
  
  .logo {
    width: 300px;
    height: auto;
    margin-bottom: 0px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .email-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #fff;
    color: #333;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .email-button:hover {
    background-color: #6bad6a;
    color: #fff;
    transform: translateY(-2px);
  }
  
  .play-button {
    display: inline-block;
    padding: 12px 30px;
    background-color: #ff6b35;
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    border: 2px solid #fff;
  }
  
  .play-button:hover {
    background-color: #e55a2b;
    transform: translateY(-2px);
  }